.testing {
  width: 71.42857%; }

html {
   font-family: 'AdelleSansSAGE-Regular';
  margin: 0; }

body {
  background: #fff; }

h1 {
  color: red;
  background: blue;
  margin: 10%; }

.logo {
	margin: 5% 5%;
	position: absolute;
	left: 0;
}